# Node.js dependencies
node_modules/

# Log files
*.log

# macOS system files
.DS_Store

# IDE or editor files
.idea/
.vscode/

# Yarn
yarn-error.log

# Build files
dist/
build/

# Environment variables
.env